[submodule ".registry"]
	path = .registry
	url = https://github.com/jasono6359/jasono6359.r-universe.dev
	branch = HEAD
[submodule "flfishltm"]
	path = flfishltm
	url = https://github.com/jasonO6359/flfishltm
	branch = main
